# Run for local insallation
ipykernel
numpy
pandas
ydata-profiling 
pydantic-settings
scikit-learn
xgboost
seaborn
plotly
scipy
matplotlib
Jinja2
yapf
typing_extensions
nbformat==5.10.4
ipywidgets
statsmodels
openpyxl
dataclasses