# Run for local insallation
ipykernel
numpy
pandas==1.5.1
scikit-learn
xgboost
seaborn
plotly==5.20.0
scipy
matplotlib
Jinja2==2.10
yapf==0.25.0
typing_extensions==4.1.1
nbformat==4.2.0
XlsxWriter==1.0.5
statsmodels
openpyxl
dataclasses